#first-name {
  transition: inherit;
}

#first-name > form {
  margin-top: 5rem;
  display: flex;
  /* align-items: baseline; */
  flex-direction: column;
}

#first-name > form > * {
  margin-bottom: 1rem;
}

#first-name input,select {
  border-radius: var(--border-rad);
  border: none;
  padding: .25rem .5rem;
  margin-left: .5rem;
  margin-bottom: .5rem;
  background-color: var(--white)
}



#first-name > form > button {
  align-self: center;
}

#names {
  background-color: var(--white);
  min-height: 40px;
  width: 100%;
  border-radius: var(--border-rad);
}

#names:hover,
#names:active,
#names:focus {
  overflow: scroll;
}

/* #names::-webkit-scrollbar {
  display: none;
}  */

option {
  font-family: inherit;
}