.app-global {
  background-color: var(--lightblue);
  color: var(--white);
  font-size: var(--font-med);
  font-weight: 800;
  transition-property: background-color, color, -webkit-text-stroke;
  transition-duration: .75s;
}

#content-wrap {
  width: 100%;
  max-width: 1024px;
  display: flex;
  margin: 0 auto;
  overflow-y: hidden;
}

#content-wrap > * {
  margin: 1rem
}