#root {
  --lightblue: #8bc6fa;
  --pink: #e292d2;
  --font-sm: 1rem;
  --font-med: 1.5rem;
  --font-lg: 2rem;
  --white: white;
  height: 100vh;
  background-color: white;
  animation: TransitioningBackground 1s forwards;
  color: var(--white);
  font-size: var(--font-med);
  font-weight: 800;
  -webkit-text-stroke: 1px black;
}

@keyframes TransitioningBackground {
  100% {
    background-color: var(--lightblue)
  }
}