:root {
  --lightblue: #8bc6fa;
  --pink: #e292d2;
  --white: white;
  --soft-grey: rgb(130, 130, 130);
  --font-sm: 1rem;
  --font-med: 1.5rem;
  --font-lg: 2rem;
  --white: white;
  --soft-grey: rgb(130, 130, 130);
  --stroke-width: 1px;
  font-family: 'gothic_warregular';
    /* @import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap'); */
}

[data-theme='dark'] {
  --lightblue: #0f4f88;
  --pink: #6e3864;
  --soft-grey: rgb(72, 72, 72);
}

[data-theme='goth'] {
  --lightblue: black;
  --pink: black;
  --soft-grey: white;
  --stroke-width: 0;
  --font-sm: 1.5rem;
  --font-med: 2rem;
  --font-lg: 2.5rem;
  font-family: 'gothic_warregular';
}