:root {
  --lightblue: #8bc6fa;
  --pink: #e292d2;
  --white: white;
  --soft-grey: rgb(130, 130, 130);
  --font-sm: 1rem;
  --font-med: 1.5rem;
  --font-lg: 2rem;
  --white: white;
  --soft-grey: rgb(130, 130, 130);
  --stroke-width: 1px
}

[data-theme='dark'] {
  --lightblue: #0f4f88;
  --pink: #6e3864;
  --soft-grey: rgb(72, 72, 72);
}

[data-theme='goth'] {
  --lightblue: black;
  --pink: black;
  --soft-grey: white;
  --stroke-width: 0;
  font-family: serif
}
